<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087414938517-pe9c6hldd49lub20ppo0b0vif86o1qv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087414938517-pe9c6hldd49lub20ppo0b0vif86o1qv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087414938517-k4mcrudbhc96gjhgd3km4j99hhr9dnpo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3kFThqaz5tT35rMB--6m6kwBLeq4_VgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1087414938517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Todoapp.b</string>
	<key>PROJECT_ID</key>
	<string>quickstart-1588241453940</string>
	<key>STORAGE_BUCKET</key>
	<string>quickstart-1588241453940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087414938517:ios:ded7b9a40792ac2d9b249c</string>
</dict>
</plist>